canvas {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(212, 255, 223);
}

body {
    background-color: rgb(203, 214, 233);
}

h1, h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 1000;
}

h1 {
    margin-bottom: 7px;
}

.calculator {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align:initial;
}

.wrap {
    text-align: center;
}

.buttons {
    display: flex;
}

p {
    font-weight: 600;
}

a {
    flex-direction: row;
    margin-top: 4px;
    margin-right: 4px;
    border: 1px solid black;
    padding: 4px;
    user-select: none;
    transition: color 0.8s, border 0.8s, background-color 0.8s;
    font-weight: 800;
}

a:hover {
    color: white;
    border: 1px solid white;
    background-color: rgb(119, 170, 172);
    transition: color 0.8s, border 0.8s, background-color 0.8s;
}

div p:nth-of-type(2) {
    display: inline;
}

input {
    width: 50px;
}

.horbar {
    height: 3px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
    margin-top: 0;
}